div.indent{margin-left:20px;}
div.center{text-align:center;}
blockquote{margin-left:20px;background-color:#e0e0e0;}
span.underline{text-decoration:underline;}
body { background-color: #FFFFFF; color: #000000 }
a { color: #1f6b9e }
.pagetitle {text-align:left;}
.talktitle {text-align:right;}
.notalktitle {color:#c0c0c0;text-align:right;}
