<h1>%2$s</h1>
<hr/>
<a name="localedits"/>
<form method="post"
      action="%3$s"
      enctype="multipart/form-data"
      accept-charset="UTF-8">
  <input type=hidden name="savepage" value="%4$s"/>
  <textarea wrap="virtual" name="savetext" rows="17" cols="120">%5$s</textarea>
  <br/>
  <input type=submit value="Save"/>
  <input type=hidden name=formPassword value="%6$s"/>
  <input type=reset value="Reset"/>
  <br/>
</form>
<br/>
<a name="toplinks"/>
<a href="#ptldiff">[Parent Diff]</a>
<a href="#ptrdiff">[Rebase Diff]</a>
<a href="#pwt">[Parent WikiText]</a>
<a href="#rwt">[Rebase WikiText]</a>
<a href="#localedits">[LocalEdits]</a>
<a href="static_files/creole_cheat_sheet.png">[Cheat Sheet]</a>
<a href="static_files/jfniki_markup">[Creole Help]</a>
<hr/>
<h2><a name="ptldiff" href="#toplinks">Diffs from Parent to Local Copy</a></h2>
<div class="difftext">
%7$s
</div>
<hr/>
<h2><a name="ptrdiff" href="#toplinks">Diffs from Parent to Rebase</a></h2>
<div class="difftext">
%8$s
</div>
<hr/>
<h2><a name="pwt" href="#toplinks"> Parent Wikitext</a></h2>
<textarea wrap="virtual" name="pwt" rows="17" cols="120" readonly>%9$s</textarea>
<hr/>
<h2><a name ="rwt" href="#toplinks">Rebase WikiText</a></h2>
<textarea wrap="virtual" name="rwt" rows="17" cols="120" readonly>%10$s</textarea>


