<!-- IMPORTANT: There are hard coded exceptions for the Freenet content filter to make -->
<!--            file uploading work. See WikiContentFilter.EXCEPTIONS. -->
  <h1>Insert Freesite</h1>
  <table>
  <form method="post"
        action="%1$s"
        enctype="multipart/form-data"
        accept-charset="UTF-8">
      <tr>
        <td>Site Name</td>
        <td><input type="text" name="sitename" value="%2$s"/></td>
      </tr>
      <tr>
        <td>Site Private Key(optional, never displayed)</td>
        <td><input type="text" name="sitekey" size="64" value="%5$s"/></td>
      </tr>
      <tr>
        <td>Site Theme</td>
        <td><
        <select name="theme">
          %4$s
        </select>
      </tr>
      <tr>
        <td>Insert as</td>
        <td>
          <input type="radio" name="keytype" value="usk" checked/>USK
          <input type="radio" name="keytype" value="chk" />CHK
        </td>
      </tr>
      <tr>
        <td><input type="submit" name="action" value="Confirm"/></td>
      </tr>
      <input type=hidden name=formPassword value="%3$s"/>
  </form>
  <tr>
    <td>
      <form method="post"
        action="%1$s"
        enctype="multipart/form-data"
        accept-charset="UTF-8">
        <input type="submit" value="Cancel">
        <input type=hidden name="action" value="finished">
        <input type=hidden name=formPassword value="%3$s"/>
      </form>
    </td>
  </tr>
  </table>
  <h1>Import Freesite Theme</h1>
  <table>
    <tr>
    <td>
      <form method="post"
        action="%1$s"
        enctype="multipart/form-data"
        accept-charset="UTF-8">
        <input name="import" type="submit" value="Import Theme"/>
        <input type="hidden" name="action" value="sentfile">
        <input type="file" name="upload" size="64">
        <input type="hidden" name="formPassword" value="%3$s"/>
      </form>
    </td>
  </tr>
  </table>
