<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>%1$s -- Wikitext Source</title>
<style type="text/css">
div.indent{margin-left:20px;}
div.center{text-align:center;}
blockquote{margin-left:20px;background-color:#e0e0e0;}
span.underline{text-decoration:underline;}
body { background-color: #FFFFFF; color: #000000;}
a { color: #1f6b9e }
.diffins {background:#e6ffe6;}
.diffdel {background:#ffe6e6;}
.diffequal {}
.difftext {font-family: monospace;}
</style>
</head>
<body>
<h2>%1$s</h2>
<p/>
<textarea wrap="virtual" name="rwt" rows="17" cols="120" readonly>%2$s</textarea>
</body>
</html>

